* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
    :root {
        --backgroundColor: rgb(255,255,255);
        /* --color: white; */
        --high: rgba(0,0,0,1);
        --color: rgba(0,0,0,0.87);
        --medium: rgba(0,0,0,0.6);
        --disabled: rgba(0,0,0,0.38);
    
        background-color:var(--backgroundColor);
        color:var(--color);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --backgroundColor: rgb(0,0,0);
        /* --color: white; */
        --high: rgba(255,255,255,1);
        --color: rgba(255,255,255,0.87);
        --medium: rgba(255,255,255,0.6);
        --disabled: rgba(255,255,255,0.38);
    
        background-color:var(--backgroundColor);
        color:var(--color);
    }
}
html, body {
    width:100%; height:fit-content; min-height:100vh;
    padding:0; margin:0;
}
html, body {
    -ms-overflow-style: none;   /* Internet Explorer, Edge  */
    scrollbar-width: none;      /* Firefox                  */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;              /* Chrome, Safari, Opera    */
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    display:flex;
    align-content: center;
    justify-content: center;
}


#page {
    background-color: var(--backgroundColor);

    margin:auto;
}


table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    vertical-align: top;
    padding: 1ch;
    border-bottom: 1px solid lightgray;
}

td:first-child {
    text-align: right;
    font-weight: bold;
    border-right: 2px solid var(--color);
} 

h1 {
    color: var(--high);
    text-align: center;
    margin: 0;
} 
h2, h3 {
    background-color: var(--color);
    color: var(--backgroundColor);
    padding: 0.5ch;
}
h3 {
    width:fit-content;
    padding:0  0.5ch;
}
h4 {
    color: var(--high);
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}

 fieldset {
    margin: 10px auto;
    padding: 60px;
 }
 fieldset h3 {
    margin: 0;
 }


.redacted {
    background-color: var(--color); 
    padding: 0 0.5ch; 
}
.redacted.visible,
.redacted.hover:hover {
    color:var(--backgroundColor); 
}

a span.redactable {
    padding: 0 0.5ch; 
    margin: auto 0;
}
a.active span.redactable,
a:hover span.redactable {
    background-color: var(--color); 
    color:var(--backgroundColor); 
}

.pane {
    background-color: rgba(0,0,0,0.5);
    -webkit-backdrop-filter: blur(0.25em); /* For Safari and iOS */
    backdrop-filter: blur(0.25em); /* Standard property */
}

nav {
    min-height:44px;
    width:100%; 
    position:absolute; 
    top:0; 
    left:0; 
    display:flex; 
    flex-direction:row; 
    padding:0 1em;
    margin:0;
    z-index: 0;
} 
nav #name {
    font-size:1.5em; 
    padding:0; 
    margin:auto 0; 
    word-wrap: none;
}
nav #name a {
    margin: 0;
}
nav span {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 44px;
    min-width: 44px;
    margin: auto 8px; padding: 0;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}
nav a svg {
    height:1em;
    aspect-ratio: 1/1;
    margin: 0;
}
nav #socialLinks {

}
nav #socialLinks div {
    display:flex;
    flex-direction: row;
    gap:8px;
}
nav #socialLinks a {
    height:44px;
    width:44px;
    margin:0;
    padding:8px;
}
nav #socialLinks svg {
    height:100%;
    width:100%;
    margin:8px;
}

a svg {
    height: 22px;
    aspect-ratio: 1/1;
    margin: 0.5em;
    overflow:visible;
}
a svg .shaddow {
    fill: var(--color);
}
/* a svg:hover .shaddow, 
a.selected svg .shaddow{
    fill:inherit;
} */

.socials {
    float:right;
}

#right-socials {
    display:none;
    flex-direction: row;
    position:absolute;
    top:77px;
    right:0;
    height:calc(100vh - 77px);
    width: fit-content;
    overflow: visible;

    justify-content:space-around;

    background-color:var(--backgroundColor);
}
#right-socials > div {
    display:flex;
    flex-direction: column;
    height: 100%;
    padding:0 16px; 
}

#menu {
    gap:8px;
}
#menu a {
    padding: 0;
    margin: auto;
}

#network {
    text-align: center;

    width: auto;
    height: auto;
    margin: auto auto;
    padding: 0 auto;

    overflow:visible;
}
#network svg {
    height: 44px;
    width: auto;
    margin:0 auto;
    padding:0;
}
#network img {
    height: 44px;
    width: auto;
    margin:0 auto;
    padding:0;
    object-fit: contain;
}

a.button {
    width: 44px;
    height: 44px;
}

.mono {
    font-family: monospace;
}

strong {
    color: var(--high);
}